<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.rayhan.quiz"
    versionCode = "10"
    version     = "1.0.0" >
    
    <preference name="phonegap-version" value="cli-6.5.0" />
<!-- versionCode is optional and Android only -->

  <name>Quiz</name>
		
  <description>
      Aplikasi Quiz Sejarah
  </description>

  <author href="" email="rayhanramanov2709@gmail.com">
      rayhanramanov2709@gmail.com
  </author>
    <icon src="icon.png" />
    
<gap:platform name="android"/>
</widget>
